.qtip-megamenu {
 left: 0 !important;
 top: 62px !important;
 width: 100% !important;
}

.qtip-contentWrapper,
.qtip-contentWrapper p {
 color: #fff;
}

.qtip-content .supermenu-row {
 margin-left: 0;
}

.administrator .qtip-megamenu,
.editor .qtip-megamenu,
.author .qtip-megamenu {
 top: 130px !important;
} /* fix for navbar */
