.qtip-megamenu {
 left:0px !important;
 top:80px !important;
 //width: 100% !important;
 //margin:auto;
 //width: 690px !important;
 //display: inline-block
}

@media (min-width: 1170px) {
  .qtip-wrapper {
    //width:690px !important;
   }
}

@media (max-width: 1169px) {
  .qtip-wrapper {
    //min-width:690px
   }  
}


.qtip-wrapper {
  //margin:auto;
  //text-align: right !important
}

.qtip-contentWrapper {
 //float:right;
 //width:690px;
 //display: inline-block
}

.qtip-contentWrapper,
.qtip-contentWrapper p {
 color:#fff;
}

.qtip-content .supermenu-row {
 margin-left: 0;
}

.administrator .qtip-megamenu,
.editor .qtip-megamenu,
.author .qtip-megamenu { 
 top:130px !important;
} /* fix for navbar */